bin/config.json
bin/items.txt
/vendor/
/tests/phpstan/result.txt
/config.php
/.phpunit.result.cache
.idea/php-test-framework.xml
.idea/phpunit.xml
.idea/copilot.data.migration.edit.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.agent.xml
